<% layout('/layout/boilerplate.ejs') -%>

<body>
    <h3>Milan Bhai</h3>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    
    <div class="card">
        <div class="card-header">
            General Details
        </div>
        <div>

        </div>

    </div>


    <h2>Purchase list :</h2>

    <div class="tableaa ">
      <table class="table table-bordered ">
          <thead >
          <tr >
              <th class="table-light " scope="col">#</th>
              <th class="table-light" scope="col">Date</th>
              <th class="table-light" scope="col">Item Name</th>
              <th class="table-light" scope="col">Weight</th>
              <th class="table-light " scope="col">Rate</th>
              <th class="table-light" scope="col">Total</th>
              
          </tr>
          </thead>
          <tbody>
            <tr>
              <%for(let datas of data1){%>
                
              <th scope="row">1</th>
              <td><%= new Date(datas.date).toLocaleDateString('en-GB') %> </td>
              <td><%= datas.item%></td>
              <td><%= datas.weight%></td>
              <td><%= datas.rate%></td>
              <td> ₹ <%=Intl.NumberFormat('en-IN').format(datas.weight * datas.rate)%> /-</td>
              
              
            </tr>
            <%}%>
          </tbody>
      </table>
  </div>
    
    
</body>